<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>
    <context:component-scan base-package="com.edu"/>

    <bean id="brickBean" class="com.edu.spring.springdixml.Brick"/>
    <bean id="woodBean" class="com.edu.spring.springdixml.Wood"/>
    <bean id="windowBean" class="com.edu.spring.springdixml.WoodWindow"/>
    <bean id="houseBean" class="com.edu.spring.springdixml.House">
        <constructor-arg index="0" ref="windowBean"/>
        <!--
        <constructor-arg index="1" value="5"/>
        -->
        <property name="height" value="2"/>
        <property name="wall" ref="woodBean"/>
    </bean>

    <bean id="mainWindowsBean" class="com.edu.spring.springdixml.MainWindow" factory-method="getInstance"
    init-method="openConnection"/>

</beans>